* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    padding: 16px 0;
    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: aliceblue;
    text-decoration: none;
}

header li a:hover{
    color: darkgray;
}

.container { 
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0
}

section h2 ,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(54, 54, 54);
    color: aliceblue;
    padding: 8px;
    margin-top: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    background-color: black;
    color: aliceblue;
    text-decoration: none;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#flights {
    background-color: gainsboro;
}

#flights .articles article a {
    background-color: gray;
}

#flights .articles article a:hover {
    background-color: black;
    color: aliceblue;
}

#technologies {
    background-color: darkgray;
}

#technologies .articles article a {
    background-color: grey;
}

#technologies .articles article a:hover {
    background-color: black;
    color: aliceblue;
}

#national_market {
    background-color: gainsboro;
}

#national_market .articles article a {
    background-color: gray;
}

#national_market .articles article a:hover {
    background-color: black;
    color: aliceblue;
}

#aerospace {
    background-color: darkgray;
}

#aerospace .articles article a {
    background-color: grey;
}

#aerospace .articles article a:hover {
    background-color: black;
    color: aliceblue;
}
